.mpt_style-guide_heading {
    font-size: 20px;
    color: grey;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}
.mpt_style-guide_sub-heading {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 5px;
}
.mpt_style-guide_divider {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 0;
    padding: 0;
    clear:both;
    line-height: 0;
    color: transparent;
}
.mpt_style-guide_form-element {

}
.mpt_style-guide_footer-spacer {
    height: 60px;
}
