// this is an example of a project wide class being modified by the theme
[class^='t2-page'] {
    .mpt_example-class {
        background-color: grey;
    }
    .mpt_bg-img-example {
        width: 50px;
        height: 50px;
        background-image: image-url('themes/theme2/theme2-example.jpg');
    }
}
