.row
    .col-xs-12
        %h3 One Col Section Template
        %p The section headline is #{section.headline}
        %p The section CTA is #{section.cta}
        %p.ns_example-class This is some lorem ipsum so it's easy to see if the section is one col or not. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque enim, velit. Recusandae aliquam perspiciatis minima error earum quasi adipisci ducimus nesciunt maiores, incidunt suscipit dicta, voluptatum, placeat at repudiandae optio.
        %h4 This is an example of a background image
        %div.ns_bg-img-example
        %hr
        %h4 This is an example of a img tag
        %img{:src => "#{images_path}/global-example.jpg"}
